<!-- Outer Row -->
  <div class="container d-flex justify-content-center mt-5 p-5">
          <div class="card o-hidden border-0 shadow-lg my-5" style="width: 30%;">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                    <!--
                      <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                      <div class="col-lg-6">
                      -->
                          <div class="p-5 text-center">
                              <div class="">
                                  <h1 class="h4 text-gray-900 mb-4">CLICK TO LOGIN</h1>
                              </div>
                              <form>
                                <a (click)="login()" class="btn btn-primary btn-user btn-block">
                                  Login
                                </a>
                              </form>
                              <hr>
                          </div>
                  <!--
                    </div>
                  -->
              </div>
          </div>

  </div>
